/* @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap'); */
@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
  --font-color: #333333;
  --github-color: rgba(120, 17, 136, 0.25); /* #781188; */
  --bg-color: #F4F4F4;
  --green: 0, 128, 0;
  --hover-color: rgb(var(--green));
  --blq-color: rgba(var(--green), 0.25);
  --font-size: 1rem;
  --font-size-bg: calc(var(--font-size) + 0.15rem);
  --font-size-ft: calc(var(--font-size) - 0.10rem);
  --font-size-sm: calc(var(--font-size) - 0.15rem);
  --link-border-bottom: 2px solid;
}

html, body {
  font-family: 'Ubuntu', Arial, sans-serif;
}

body {
  line-height: 1.78em;
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--font-color)
}

blockquote {
  padding: 10px 10px;
  font-size: var(--font-size-bg);
  border-left: 5px solid var(--blq-color);
}
blockquote p{ margin: 0 16px 16px; }
blockquote p:last-child{ margin-bottom: 0; }
blockquote footer{
  font-size: 0.7em;
  text-align: right;
  font-style: italic;
  margin: 12px 20px 0;
}
blockquote footer:before{ content:"\2014 \00a0"; }

.border-secondary { border-color: #CCCCCC !important }

.btn.disabled {
  opacity: 0.25!important;
}

div.code-annotation {
  background-color: rgba(63,55,80,.778);
  color: #f6f1ed;
  font-size: 13px;
}

ul.task-list li.task-list-item input[type=checkbox][disabled="disabled"] { margin-right: 0.5rem; }

a:hover {
  text-decoration: none;
  /* border-bottom: var(--link-border-bottom); */
  color: var(--hover-color);
}

a.no-decoration:hover {
  border-bottom: 0;
}

.list-group-item {
  background-color: var(--bg-color);
  border-width: 0 0 1px 0!important;
}

.sidebar {
  flex: 0 0 250px;
  height: 100vh;
  color: var(--font-color)!important;
}

.sidebar .logo {
  width: 50%;
}

.sidebar a {
  color: var(--font-color)!important;
  font-weight: bold;
}

.sidebar h2.site-title a {
  font-size: calc(var(--font-size) + 0.5rem);
}

.sidebar .nav-links {
  text-transform: lowercase;
}

.sidebar .nav-links [data-nav] a.active {
  border-bottom: 2px solid;
}

.sidebar .social-links img {
  width: 24px;
}

.sidebar .disclaimer {
  line-height: 1.5em;
  font-size: var(--font-size-sm);
}

.culture .double-danda { font-size: 18px; color: #8B0000; }
.culture .double-danda:first-child { margin-right: .35rem; }
.culture .double-danda:last-child { margin-left: .25rem; }
.culture img { width: 20px; height: 20px; }

.post .meta-info { font-size: var(--font-size-sm) }
.post .tags .tag { white-space: nowrap; }

@media only screen and (min-width: 992px) {
  .embed-yt-container iframe { width: 600px }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .embed-yt-container iframe { width: 100% }
}

