---
layout: base
---
<div class="d-flex flex-column post">
  <h4 class="mb-0 text-left post-title">
    <a href="{{ page.url | absolute_url }}">
      <span>{{ page.title }}</span>
    </a>
  </h4>
  <div class="mt-0 mb-5 text-left meta-info">
    Categorized as
    <span class="font-weight-bold">{{ page.category }}</span>, posted on
    <span class="font-italic">{{ page.date | date: site.formats.dates.posts }}</span>
  </div>
  <div class="text-justify post-content">
    <div class="mt-0 mb-3 website-link">
      <span class="mr-2 font-weight-bold">{{ page.website }}</span>
      <a href="{{ page.link }}" target="_blank">{{ page.title }}</a>
    </div>
    {% include code.html heading=page.heading code=content languageName=page.language %}
  </div>
  <div class="d-flex flex-wrap text-muted mt-3 mb-5 tags">
    <div class="font-weight-bold mt-1 p-1">Tags:</div>
    {%- for tag in page.tags -%}
    <div class="ml-2 mt-1 p-1 border rounded tag">{{ tag }}</div>
    {%- endfor -%}
  </div>
</div>

