<div class="mb-5 social-links">
  <a href="{{ '/algorithms/' | absolute_url }}" class="ml-auto no-decoration" title="Algorithms">
    <img src="{{ '/public/imgs/algorithms.svg' | absolute_url }}" alt="Algorithms">
  </a>
  <a href="{{ '/competitive-programming/' | absolute_url }}" class="ml-2 no-decoration" title="Competitive Programming">
    <img src="{{ '/public/imgs/leetcode.svg' | absolute_url }}" alt="Algorithms">
  </a>
  <a href="{{ site.author.social.github }}" class="ml-2 no-decoration" target="_blank" title="Github">
    <img src="{{ '/public/imgs/github.svg' | absolute_url }}" alt="Github">
  </a>
  <a href="{{ site.author.social.linkedin }}" class="ml-2 no-decoration" target="_blank" title="Linkedin">
    <img src="{{ '/public/imgs/linkedin.svg' | absolute_url }}" alt="Linkedin">
  </a>
</div>

